*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
}

.clr
{
    clear: both;
}

.navbar
{
    background-color: black;
    overflow: hidden;
}

.navbar h2
{
    float: left;
    padding: 20px;
}

.navbar h2 a
{
    text-decoration: 20px;
    color: white;
}

.navbar ul
{
    float: right;
}

.navbar ul li
{
    float: left;
    list-style: none;
}

.navbar ul li a
{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 25px 20px;   
}

.navbar ul li a:hover
{
    background-color: rgb(48, 44, 44);
    color: wheat;
}

#current
{
    background-color: rgb(48, 44, 44);
    color: wheat;
}


#img-container, img
{
    width: 100%;
    height: 500px;
    position: relative;
}

#welcome-msg
{
    color: black;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#welcome-p
{
    color: black;
    position: absolute;
    top: 35%;
    left: 10%;
    /* text-align: center; */
    transform: translate(-5%, -1%);
    font-size: 16px;
    margin: 15px;
}

.primary-btn
{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.primary-btn a
{
    background-color: black;
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}


.primary-btn a:hover
{
    color: wheat;
    background-color: rgb(48, 44, 44);
}



#img-container-2 img
{
    width: 50%;
    height: 350px;
    float: left;
}

#cntnt-container
{
    background-color: rgb(48, 44, 44);
    width: 50%;
    height: 350px;
    float:left;
    color: white;
}

#img-cntnt-container #cntnt-container h2
{
    text-align: center;
    padding: 52px 0px 25px 0px;
}

#img-cntnt-container #cntnt-container p
{
    text-align: center;
    padding: 0px 10px;
}

.primary-txt
{
    color: coral;
}

.btn
{
    text-align: center;
    margin-top: 30px;
}

.btn a
{
    background-color: white;
    color:black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.btn a:hover
{
    background-color: rgb(221, 213, 213);
}

#box-1
{
    /* background-color: teal; */
    background-color: rgb(236, 223, 223);
    width: 33.3%;
    float:left;
    text-align: center;
}

#box-1 i
{
    font-size: 65px;
    margin: 30px 0px 15px 0px;
}

#box-1 p
{
    padding: 15px;
}


#box-2
{
    /* background-color: yellowgreen; */
    background-color: coral;
    width: 33.3%;
    float:left;
    text-align: center;
}

#box-2 i
{
    font-size: 65px;
    margin: 30px 0px 15px 0px;
}

#box-2 p
{
    padding: 15px;
}

#box-3
{
    /* background-color: slategray; */
    background-color: rgb(236, 223, 223);
    width: 33.3%;
    float:left;
    text-align: center;
}

#box-3 i
{
    font-size: 65px;
    margin: 30px 0px 15px 0px;
}

#box-3 p
{
    padding: 15px;
}

footer
{
    background-color: rgb(48, 44, 44);
    color: white;
    text-align: center;
}

footer p
{
    padding: 20px;
    font-size: 17px;
}
